<h1>Movies#index</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Genre</th>
      <th>Year</th>
      <th>Votes</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.genre %></td>
        <td><%= movie.year %></td>
        <td><%= movie.votes.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Home", root_path %>
